<h6>Hi <%= @user&.name%>!</h6>
<p> Your news article app credentials are here</p>
<h6>Email: <%= @user&.email %></h6>
<h6>Password: <%= @password %></h6>

<p>Please don't share your credential with anyone.</p>
